{
  "presets": ["next/babel", "env"],
  "plugins": [
    [
      "react-css-modules",
      {
        "filetypes": {
          ".scss": {
            "syntax": "postcss-scss"
          }
        },
        "generateScopedName": "[local]___[hash:base64:5]",
        "exclude": "node_modules",
        "webpackHotModuleReloading": true
      }
    ],
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "components": "./components",
          "layouts": "./layouts",
          "types": "./types",
          "styles": "./styles"
        }
      }
    ]
  ]
}