@import "styles/colors";

.search-field-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 80px);

  .search-field {
    display: flex;
    width: 700px;
    border-radius: 4px;
    border: 1px solid $light-gray;
    overflow: hidden;

    & > input {
      flex: 1;
      color: $gray;
      padding: 10px;
      font-weight: lighter;
      outline: none;
      font-size: 30px;
      line-height: 34px;
      border: 0;
    }

    & > button {
      outline: none;
      font-size: 30px;
      font-weight: lighter;
      border: 0;
      padding: 0 20px;
      border-left: 1px solid $light-gray;

      &:hover {
        background-color: darken($white, 10%);
      }

      &:active {
        background-color: darken($white, 20%);
      }
    }
  }
}