@import "styles/colors";

.search-field-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 80px);

  .search-field {
    width: 500px;
    border-radius: 4px;
    border: 1px solid $light-gray;
    overflow: hidden;
    display: flex;

    & > input {
      flex: 1;
      color: $gray;
      padding: 10px;
      font-weight: lighter;
      outline: none;
      font-size: 30px;
      line-height: 34px;
      border: 0;
    }
  }
}